{% extends 'bootstrap/base.html' %}
{% block title %}Library{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/styles.css">
{% endblock %}

{% block content %}
<div class="jumbotron text-center">
<h1>My Library</h1>
</div>

<div>
{% if not books %}
    <p>Library is empty</p>
{% else %}
    <ul>
        {% for book in books %}
            <p><li>{{ book['title'] }} - {{ book['author'] }} - {{ book['rating'] }}/10&emsp;
            <a href="{{ url_for('edit_rating', id=book['id']) }}">✏️</a>&ensp;
            <a href="{{ url_for('delete_book', id=book['id']) }}">❌</a></li></p>
        {% endfor %}
    </ul>
{% endif %}
</div>
<p class="space-above"><a href="{{ url_for('add') }}">Add New Book</a></p>

{% endblock %}
